<h2>Sign up</h2>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
	<% styles = ['nil', 'endnote', 'bibitem', 'bibtex', 'rd',
              'nature', 'science', 'genome_biol', 'genome_res',
              'nar', 'current', 'trends', 'cell']-%>
    <%= f.label :style, "Format Styles" %><br />
    <%= f.select :style, styles, :selected => 'nature' %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>


