<table class="profile">
  <tr>
    <td class="main">
      <h2>
        <%= gravatar_for @user %>
        <%= h @user.name %>
      </h2>
      <% unless @user.references.empty? %>
        <table class="references">
          <%= render @references %>
        </table>
        <%= will_paginate @references %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name:</strong> <%= h @user.name %>
	  <br/><strong>References:</strong> <%= @user.references.count %>
	  <% if current_user.admin? %>
	  <br/><strong>Admin:</strong> <%= @user.admin %>
	  <br/><strong>URL:</strong>  <%= link_to user_path(@user), @user %>
	  <% end %>
    </td>
  </tr>
</table>


