<h1>Listing references</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Authors</th>
    <th>Abstract</th>
    <th>Journal</th>
    <th>Pmid</th>
    <th>User</th>
  </tr>

<% @references.each do |reference| %>
  <tr>
    <td><%=h reference.title %></td>
    <td><%=h reference.authors %></td>
    <td><%=h reference.abstract %></td>
    <td><%=h reference.journal %></td>
    <td><%=h reference.pmid %></td>
    <td><%=h reference.user_id %></td>
    <td><%= link_to 'Show', reference %></td>
    <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
    <td><%= link_to 'Destroy', reference, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New reference', new_reference_path %>