<h1>New reference</h1>

<% form_for(@reference) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :authors %><br />
    <%= f.text_field :authors %>
  </p>
  <p>
    <%= f.label :abstract %><br />
    <%= f.text_field :abstract %>
  </p>
  <p>
    <%= f.label :journal %><br />
    <%= f.text_field :journal %>
  </p>
  <p>
    <%= f.label :pmid %><br />
    <%= f.text_field :pmid %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', references_path %>