<p>
  <b>Title:</b>
  <%=h @reference.title %>
</p>

<p>
  <b>Authors:</b>
  <%=h @reference.authors %>
</p>

<p>
  <b>Abstract:</b>
  <%=h @reference.abstract %>
</p>

<p>
  <b>Journal:</b>
  <%=h @reference.journal %>
</p>

<p>
  <b>Pmid:</b>
  <%=h @reference.pmid %>
</p>

<p>
  <b>User:</b>
  <%=h @reference.user_id %>
</p>


<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>