<div id="footer">
  <%= link_to bioruby, "http://www.bioruby.org/" %>
  <%= link_to rails, "http://rubyonrails.org/" %>
  <%= link_to github, "http://github.com/" %>
  <%= link_to pubmed, "http://www.ncbi.nlm.nih.gov/pubmed" %>
  <ul class="navigation round">
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
</div>
